<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🤖퀴즈완료</title>
    <link rel="stylesheet" href="../static/styles/end-quiz.css"> <!-- 스타일시트 연결 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> <!-- axios 라이브러리 로드 -->
</head>
<body>
    <div class="container">
        <div class="progress-bar"></div>
        <h1>📝 퀴즈도 완료하셨어요!</h1>
        <p>쉐도잉으로 넘어갈 준비 되셨나요?</p>
        <div class="button-container">
            <button class="green-button" onclick="gotoShadowing()">쉐도잉으로 넘어가기</button>
            <button class="red-button" onclick="gotoLearning()">다시 학습하고 퀴즈 풀기</button>
            <button class="white-button" onclick="gotoIndex()">다른 영상으로 학습하기</button>
        </div>
    </div>
    <script src="../static/end.js"></script>
</body>
</html>