body {
    font-family: Arial, sans-serif;
    background-color: #fbeff1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-result {
    text-align: center;
    background-color: #fff;
    padding: 30px; /* 패딩을 늘려서 전체적인 공간을 확보 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    border: 2px solid #ffd6d6; /* 연한 빨간색 테두리 */
}

.progress-bar {
    height: 8px;
    background-color: #ff5e5e;
    border-radius: 5px;
    margin-bottom: 20px; /* 간격을 더 넓힘 */
    width: 100%; /* 점수에 따라 조정 가능 */
}

.score {
    font-size: 24px;
    color: #ff5e5e;
    margin-bottom: 15px; /* 간격을 더 넓힘 */
}

.score strong {
    font-weight: bold;
}

.message {
    font-size: 16px;
    color: #4a4a4a;
    font-weight: bold;
    margin-bottom: 30px; /* 간격을 더 넓힘 */
}

.quiz-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; /* 간격을 더 넓힘 */
    margin-bottom: 30px; /* 간격을 더 넓힘 */
}

.quiz-item {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.correct {
    background-color: #ccffcc;
    border-color: #99cc99;
    color: #006600; /* 진한 초록색 글씨 */
}

.incorrect {
    background-color: #ffd6d6;
    border-color: #ff9999;
    color: #cc0000; /* 진한 빨간색 글씨 */
}

.pagination {
    margin-bottom: 30px; /* 간격을 더 넓힘 */
    color: #888;
}

.pagination span {
    margin: 0 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between; /* 버튼 사이 간격을 넓히기 위해 변경 */
    padding: 20px; /* 패딩을 늘려서 간격을 더 넓힘 */
    border-top: 2px solid #ffd6d6; /* 연한 빨간색 테두리 */
}

button {
    padding: 10px 15px; /* 버튼의 크기를 키워서 공간을 더 넓게 사용 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.retry-button {
    background-color: #ff5e5e;
    color: white;
}

.retry-button:hover {
    background-color: #ff8080;
}

.other-button {
    background-color: white;
    color: #ff5e5e;
    border: 2px solid #ff5e5e;
    margin-bottom : 10px;
    margin-left : 70%;
}

.other-button:hover {
    background-color: #ffe6e6;
}